/* Main Header Layout */
.header-wrapper {
    display: block;
    position: relative;
    background-color: rgb(var(--color-background));
  }
  
  .header-wrapper--border-bottom {
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  }
  
  .header {
    display: grid;
    grid-template-areas: 'left-icon heading icons';
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  @media screen and (min-width: 990px) {
    .header {
      /* padding-top: 2rem;
      padding-bottom: 2rem; */
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  
    .header--has-menu:not(.header--middle-left) {
      padding-bottom: 0;
    }
  
    .header--top-left,
    .header--middle-left:not(.header--has-menu) {
      grid-template-areas:
        'heading icons'
        'navigation navigation';
      grid-template-columns: 1fr auto;
    }
  
    .header--middle-left {
      grid-template-areas: 'heading navigation icons';
      grid-template-columns: auto auto 1fr;
      column-gap: 2rem;
    }
  
    .header--top-center {
      grid-template-areas:
        'left-icon heading icons'
        'navigation navigation navigation';
    }
  
    .header:not(.header--middle-left) .header__inline-menu {
      margin-top: 1.05rem;
    }
  }
  
  .header *[tabindex='-1']:focus {
    outline: none;
  }
  
  .header__heading {
    margin: 0;
    line-height: 0;
  }
  
  .header > .header__heading-link {
    line-height: 0;
  }
  
  .header__heading,
  .header__heading-link {
    grid-area: heading;
    justify-self: center;
  }
  
  .header__heading-link {
    display: inline-block;
    padding: 0.75rem;
    text-decoration: none;
    word-break: break-word;
  }
  
  .header__heading-link:hover .h2 {
    color: rgb(var(--color-foreground));
  }
  
  .header__heading-link .h2 {
    line-height: 1;
    color: rgba(var(--color-foreground), 0.75);
  }
  
  .header__heading-logo {
    height: auto;
    width: 100%;
  }
  
  @media screen and (max-width: 989px) {
    .header__heading,
    .header__heading-link {
      text-align: center;
    }
  }
  
  @media screen and (min-width: 990px) {
    .header__heading-link {
      margin-left: -0.75rem;
    }
  
    .header__heading,
    .header__heading-link {
      justify-self: start;
    }
  
    .header--top-center .header__heading-link,
    .header--top-center .header__heading {
      justify-self: center;
      text-align: center;
    }
  }
  
  /* Header icons */
  .header__icons {
    display: flex;
    grid-area: icons;
    justify-self: end;
  }
  
  .header__icon:not(.header__icon--summary),
  .header__icon span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header__icon {
    color: rgb(var(--color-foreground));
  }
  
  .header__icon span {
    height: 100%;
  }
  
  .header__icon::after {
    content: none;
  }
  
  .header__icon:hover .icon,
  .modal__close-button:hover .icon {
    transform: scale(1.07);
  }
  
  .header__icon .icon {
    height: 2rem;
    width: 2rem;
    fill: none;
    vertical-align: middle;
  }
  
  .header__icon,
  .header__icon--cart .icon {
    height: 4.4rem;
    width: 4.4rem;
  }
  
  .header__icon--cart {
    position: relative;
    margin-right: -1.2rem;
  }


/* section-header */
#shopify-section-header {
    z-index: 3;
  }
  
  .shopify-section-header-sticky {
    position: sticky;
    top: 0;
  }
  
  .shopify-section-header-hidden {
    transform: translateY(-100%);
  }
  
  #shopify-section-header.animate {
    transition: transform 0.15s ease-out;
  }
  
  
  
  @media screen and (max-width: 989px) {
    menu-drawer ~ .header__icons .header__icon--account {
      display: none;
    }
  }
  
  /* Search */
  menu-drawer + .header__search {
    display: none;
  }
  
  .header > .header__search {
    grid-area: left-icon;
    justify-self: start;
  }
  
  .header:not(.header--has-menu) * > .header__search {
    display: none;
  }
  
  .header__search {
    display: inline-flex;
    line-height: 0;
  }
  
  .header--top-center > .header__search {
    display: none;
  }
  
  .header--top-center * > .header__search {
    display: inline-flex;
  }
  
  @media screen and (min-width: 990px) {
    .header:not(.header--top-center) * > .header__search,
    .header--top-center > .header__search {
      display: inline-flex;
    }
  
    .header:not(.header--top-center) > .header__search,
    .header--top-center * > .header__search {
      display: none;
    }
  }

  

/* Header menu drawer */
.header__icon--menu .icon {
    display: block;
    position: absolute;
    opacity: 1;
    transform: scale(1);
    transition: transform 150ms ease, opacity 150ms ease;
  }
  
  details:not([open]) > .header__icon--menu .icon-close,
  details[open] > .header__icon--menu .icon-hamburger {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8);
  }
  
  .js details[open]:not(.menu-opening) > .header__icon--menu .icon-close {
    visibility: hidden;
  }
  
  .js details[open]:not(.menu-opening) > .header__icon--menu .icon-hamburger {
    visibility: visible;
    opacity: 1;
    transform: scale(1.07);
  }
  
  .header__inline-menu details[open] > .header__submenu {
    opacity: 1;
    transform: translateY(0);
    animation: animateMenuOpen var(--duration-default) ease;
    z-index: 1;
  }
  
  /* Header menu */
  .header__inline-menu {
    margin-left: -1.2rem;
    grid-area: navigation;
    display: none;
  }
  
  .header--top-center .header__inline-menu,
  .header--top-center .header__heading-link {
    margin-left: 0;
  }
  
  @media screen and (min-width: 990px) {
    .header__inline-menu {
      display: block;
    }
  
    .header--top-center .header__inline-menu {
      justify-self: center;
    }
  
    .header--top-center .header__inline-menu > .list-menu--inline {
      justify-content: center;
    }
  
    .header--middle-left .header__inline-menu {
      margin-left: 0;
    }
  }
  
  .header__menu {
    padding: 0 1rem;
  }
  
  .header__menu-item {
    padding: 1.2rem 1.55rem;
    text-decoration: none;
    color: rgba(var(--color-foreground), 0.75);
    /* Custom font */
    letter-spacing: .5px !important;
    text-transform: uppercase;
  }
  
  .header__menu-item span {
    font-size: 14px;
    letter-spacing: .5px !important;
  }
  
  .header__menu-item:hover {
    color: rgb(var(--color-foreground));
  }
  
  .header__menu-item span {
    transition: text-decoration var(--duration-short) ease;
  }
  
  .header__menu-item:hover span {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
  
  .header__active-menu-item {
    transition: text-decoration-thickness var(--duration-short) ease;
    color: rgb(var(--color-foreground));
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
  
  .header__menu-item:hover .header__active-menu-item {
    text-decoration-thickness: 0.2rem;
  }
  
  .header__submenu {
    transition: opacity var(--duration-default) ease,
      transform var(--duration-default) ease;
  }
  
  .header__submenu.list-menu {
    padding: 2rem 0;
  }
  
  .header__submenu .header__submenu {
    background-color: rgba(var(--color-foreground), 0.03);
    padding: 0.5rem 0;
    margin: 0.5rem 0;
  }
  
  .header__submenu .header__menu-item:after {
    right: 2rem;
  }
  
  .header__submenu .header__menu-item {
    padding: .45rem 3.5rem .45rem 2rem;
    text-transform: none;
    /* font-weight: 800; */
    letter-spacing: 0px !important;
  }
  
  .header__submenu .header__submenu .header__menu-item {
    padding-left: 3rem;
  }
  
  .header__menu-item .icon-caret {
    right: 0.8rem;
  }
  
  .header__submenu .icon-caret {
    right: 2rem;
  }
  
  .header__submenu li:first-of-type a {
    font-weight: 700;
  }



@font-face {
    font-family: "Nimbus Sans L";
    src: url("https://cdn.shopify.com/s/files/1/0608/5643/4894/files/NimbusSanL-Reg-webfont.woff?v=1638020990") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Nimbus Sans L";
    src: url("https://cdn.shopify.com/s/files/1/0608/5643/4894/files/NimbusSanL-Bol-webfont.woff?v=1638020991") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  
  html,body,buttons,input,textarea,etc {
    font-family: "Nimbus Sans L" !important;
    letter-spacing: 0 !important;
  }
  
  h1,h2,h3,h4,h5,h6 {
    font-family: "Nimbus Sans L", sans-serif !important;
    letter-spacing: 0 !important;
  }
  
  p{
    font-family: "Nimbus Sans L", sans-serif !important;
    letter-spacing: 0 !important;
  }
  
  .select__select{
    font-family: "Nimbus Sans L", sans-serif !important;
    letter-spacing: 0 !important;
  }
  
  .announcement-bar__message{
    font-family: "Nimbus Sans L", sans-serif !important;
    letter-spacing: 0 !important;
  }
  
  span{
    font-family: "Nimbus Sans L", sans-serif !important;
    letter-spacing: 0 !important;
  }
  
  a .button{
    font-family: "Nimbus Sans L", sans-serif !important;
    letter-spacing: 0 !important;
  }
  
  .cart-item__name .h4 .break, .product-option{
    font-family: "Nimbus Sans L", sans-serif !important;
    letter-spacing: 0 !important;
  }


  a:empty,
ul:empty,
dl:empty,
div:empty,
section:empty,
article:empty,
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty {
  display: none;
}
  



.text-body {
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  .h0,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5 {
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-weight: var(--font-heading-weight);
    /* letter-spacing: calc(var(--font-heading-scale) * 0.06rem); */
    color: rgb(var(--color-foreground));
    line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
  }
  
  .h0 {
    font-size: calc(var(--font-heading-scale) * 3rem);
  }
  
  @media only screen and (min-width: 750px) {
    .h0 {
      font-size: calc(var(--font-heading-scale) * 3.2rem);
    }
  }
  
  h1,
  .h1 {
    font-size: calc(var(--font-heading-scale) * 3rem);
  }
  
  @media only screen and (min-width: 750px) {
    h1,
    .h1 {
      font-size: calc(var(--font-heading-scale) * 3rem);
    }
  }
  
  h2,
  .h2 {
    font-size: calc(var(--font-heading-scale) * 2rem);
  }
  
  @media only screen and (min-width: 750px) {
    h2,
    .h2 {
      font-size: calc(var(--font-heading-scale) * 2rem);
    }
  }
  
  h3,
  .h3 {
    font-size: calc(var(--font-heading-scale) * 1.7rem);
  }
  
  @media only screen and (min-width: 750px) {
    h3,
    .h3 {
      font-size: calc(var(--font-heading-scale) * 1.8rem);
    }
  }
  
  h4,
  .h4 {
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-size: calc(var(--font-heading-scale) * 1.5rem);
  }
  
  h5,
  .h5 {
    font-size: calc(var(--font-heading-scale) * 1.2rem);
  }
  
  @media only screen and (min-width: 750px) {
    h5,
    .h5 {
      font-size: calc(var(--font-heading-scale) * 1.3rem);
    }
  }
  
  h6,
  .h6 {
    color: rgba(var(--color-foreground), 0.75);
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
  }
  
  blockquote {
    font-style: italic;
    color: rgba(var(--color-foreground), 0.75);
    border-left: 0.2rem solid rgba(var(--color-foreground), 0.2);
    padding-left: 1rem;
  }
  
  @media screen and (min-width: 750px) {
    blockquote {
      padding-left: 1.5rem;
    }
  }
  
  .caption {
    font-size: 1rem;
    letter-spacing: 0.07rem;
    line-height: calc(1 + 0.7 / var(--font-body-scale));
  }
  
  @media screen and (min-width: 750px) {
    .caption {
      font-size: 1.2rem;
    }
  }
  
  .caption-with-letter-spacing {
    font-size: 1rem;
    letter-spacing: 0.13rem;
    line-height: calc(1 + 0.2 / var(--font-body-scale));
    text-transform: uppercase;
  }
  
  .caption-large,
  .customer .field input,
  .customer select,
  .field__input,
  .form__label,
  .select__select {
    font-size: 1rem;
    line-height: calc(1 + 0.5 / var(--font-body-scale));
    letter-spacing: 0.04rem;
  }
  


  /* component-grid */
.grid {
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 2rem; */
    margin-left: -0.5rem;
    padding: 0;
    list-style: none;
  }
  
  @media screen and (min-width: 750px) {
    .grid {
      margin-left: -1rem;
      /* padding: 0 1.5rem; */
    }
  }
  
  .grid__item {
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: calc(25% - 0.5rem * 3 / 4);
    max-width: 50%;
    flex-grow: 1;
    flex-shrink: 0;
  }
  
  @media screen and (min-width: 750px) {
    .grid__item {
      padding-left: 1rem;
      padding-bottom: 1rem;
      width: calc(25% - 1rem * 3 / 4);
      max-width: 50%;
    }
  }
  
  .grid--gapless .grid__item {
    padding-left: 0;
    padding-bottom: 0;
  }
  
  @media screen and (max-width: 749px) {
    .grid__item.slider__slide--full-width {
      width: 100%;
      max-width: none;
    }
  }
  
  @media screen and (min-width: 750px) and (max-width: 989px) {
    .grid--one-third-max.grid--3-col-tablet .grid__item {
      max-width: 33.33%;
    }
  }
  
  @media screen and (min-width: 990px) {
    .grid--quarter-max.grid--4-col-desktop .grid__item {
      max-width: 25%;
    }
  }
  
  .grid--1-col .grid__item {
    max-width: 100%;
    width: 100%;
  }
  
  .grid--3-col .grid__item {
    width: calc(33.33% - 0.5rem * 2 / 3);
  }
  
  @media screen and (min-width: 750px) {
    .grid--3-col .grid__item {
      width: calc(33.33% - 1rem * 2 / 3);
    }
  }
  
  .grid--2-col .grid__item {
    width: calc(50% - 0.5rem / 2);
  }
  
  @media screen and (min-width: 750px) {
    .grid--2-col .grid__item {
      width: calc(50% - 1rem / 2);
    }
  
    .grid--4-col-tablet .grid__item {
      width: calc(25% - 1rem * 3 / 4);
    }
  
    .grid--3-col-tablet .grid__item {
      width: calc(33.33% - 1rem * 2 / 3);
    }
  
    .grid--2-col-tablet .grid__item {
      width: calc(50% - 1rem / 2);
    }
  }
  
  @media screen and (min-width: 990px) {
    .grid--4-col-desktop .grid__item {
      width: calc(25% - 1rem * 3 / 4);
    }
  
    .grid--3-col-desktop .grid__item {
      width: calc(33.33% - 1rem * 2 / 3);
    }
  
    .grid--2-col-desktop .grid__item {
      width: calc(50% - 1rem / 2);
    }
  }
  
  .grid__item--vertical-align {
    align-self: center;
  }
  
  .grid__item--full-width {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  @media screen and (max-width: 749px) {
    .grid--peek.slider--mobile {
      margin: 0;
      width: 100%;
    }
  
    .grid--peek.slider--mobile .grid__item {
      box-sizing: content-box;
      margin: 0;
    }
  
    .grid--peek .grid__item {
      width: calc(50% - 3.75rem / 2);
    }
  
    .grid--peek .grid__item:first-of-type {
      padding-left: 1.5rem;
    }
  
    .grid--peek .grid__item:last-of-type {
      padding-right: 1.5rem;
    }
  }
  
  @media screen and (min-width: 750px) and (max-width: 989px) {
    .slider--tablet.grid--peek .grid__item {
      width: calc(25% - 4rem * 3 / 4);
    }
  
    .slider--tablet.grid--peek.grid--3-col-tablet .grid__item {
      width: calc(33.33% - 4rem * 2 / 3);
    }
  
    .slider--tablet.grid--peek.grid--2-col-tablet .grid__item {
      width: calc(50% - 4rem / 2);
    }
  
    .slider--tablet.grid--peek .grid__item:first-of-type {
      padding-left: 1.5rem;
    }
  
    .slider--tablet.grid--peek .grid__item:last-of-type {
      padding-right: 1.5rem;
    }
  }
  
  @media screen and (max-width: 989px) {
    .slider--tablet.grid--peek {
      margin: 0;
      width: 100%;
    }
  
    .slider--tablet.grid--peek .grid__item {
      box-sizing: content-box;
      margin: 0;
    }
  }

  

/* component-media */
.media {
    display: block;
    background-color: rgba(var(--color-foreground), 0.1);
    position: relative;
    overflow: hidden;
  }
  
  .media--transparent {
    background-color: transparent;
  }
  
  .media > *:not(.zoom):not(.deferred-media__poster-button),
  .media model-viewer {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .media > img {
    object-fit: cover;
    object-position: center center;
    transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .media--square {
    padding-bottom: 100%;
  }
  
  .media--portrait {
    padding-bottom: 125%;
  }
  
  .media--landscape {
    padding-bottom: 66.6%;
  }
  
  .media--cropped {
    padding-bottom: 56%;
  }
  
  .media--16-9 {
    padding-bottom: 56.25%;
  }
  
  .media--circle {
    padding-bottom: 100%;
    border-radius: 50%;
  }
  
  .media.media--hover-effect > img + img {
    opacity: 0;
  }
  
  @media screen and (min-width: 990px) {
    .media--cropped {
      padding-bottom: 63%;
    }
  }
  
  deferred-media {
    display: block;
  }